@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .section-text {
    font-weight: 400;
  }
  /* ---------------------------LOGO---------------------*/

  .logo {
    line-height: 1.33;
  }

  /* ----------------------------H E R O-------------------- */
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;

    background-color: var(--hero-bcg-color);
    background-image: var(--l-gradient-color),
      url(../images/hero-bg-desctop@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
      background-color: var(--hero-bcg-color);
      background-image: var(--l-gradient-color),
        url('../images/hero-bg-desctop@2x.jpg');
    }
  }
  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
  /*-------------------F E A T U R E S--------------------- */
  .features {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .features .section-title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-headings-color);
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list .item {
    margin-bottom: 0;
    margin-right: 24px;
    width: 100;
  }

  .features-list .item:nth-last-child(-n + 1) {
    margin-right: 0;
  }
  .feature-svg-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .feature-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;
    border-radius: 4px;

    background-color: #f4f4fd;
  }

  /* ------------------------------ABOUT------------------- */

  .about {
    margin-bottom: 120px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }

  /* --------------------------------TEAM--------------------*/
  .team-section > .container {
    max-width: 1158px;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team-list .team-item {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .team-list .team-item:nth-last-child(-n + 1) {
    margin-right: 0;
  }
  .team-list .team-item:nth-child(2) {
    margin-right: 24px;
  }

  /* --------------C U S T O M E R S------------- */

  .customers-section > .container {
    max-width: 1158px;
  }

  .customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    margin-right: 24px;
    height: 88px;
    margin-bottom: 0;
  }

  .customers-item:nth-child(3) {
    margin-right: 24px;
  }
  /* --------------------------FOOTER---------------- */
  .footer-section > .container {
    max-width: 1158px;
  }
  .footer-section {
    background-color: var(--footer-bcg-color);
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .footer-container {
    display: flex;
  }

  .first-footer-container {
    width: 264px;
    margin-right: 120px;
  }
  .second-footer-container {
    margin-right: 80px;
  }
  .third-footer-container {
    width: 453px;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
