@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  /* -------------------------H E A D E R------------> */
  .mobile-menu,
  .btn-menu-open {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  /*----------------SITE NAV------------------ */

  .site-nav {
    display: flex;
    gap: 40px;
  }
  .site-nav .link {
    display: block;
    color: var(--nav-link-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transition);
  }
  .site-nav .link:is(:hover, :focus),
  .contacts-list .link:is(:hover, :focus) {
    color: var(--nav-active-link-color);
  }
  .site-nav .link.current {
    color: var(--nav-active-link-color);
  }

  .site-item {
    position: relative;
    display: block;
  }

  .site-item .link.current::after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 4px;
    width: 100%;
    right: 0;
    bottom: -100%;

    background: #404bbf;
    border-radius: 2px;
  }

  /* ----------------CONTACTS------------------ */
  .address {
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    margin-right: auto;
  }

  .contacts-list .link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-contact-color);
    transition: color var(--transition);
  }

  .link-contacts {
    margin-right: 40px;
  }

  .link-contacts:last-child {
    margin-right: 0;
  }
  /* ----------------------------H E R O---------------- */
  .hero-section {
    padding-top: 111px;
    padding-bottom: 108px;
    max-width: 1199px;

    background-color: var(--hero-bcg-color);
    background-image: var(--l-gradient-color),
      url(../images/hero-bg-tablet@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
      background-color: var(--hero-bcg-color);
      background-image: var(--l-gradient-color),
        url('../images/hero-bg-tablet@2x.jpg');
    }
  }
  .hero-title {
    margin-bottom: 40px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
  /*-------------------F E A T U R E S--------------------- */
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list .item {
    width: calc((100% - 24px) / 2);
    margin-right: 24px;
  }

  .features-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .features-list .item:nth-child(2n) {
    margin-right: 0;
  }
  /* ---------------TEAM--------------------*/
  .team-section > .container {
    max-width: 582px;
  }
  .team-section {
    padding-bottom: 104px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list .team-item {
    width: calc((100% - 24px) / 2);
    margin-right: 24px;
    margin-bottom: 64px;
  }
  .team-list .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .team-list .team-item:nth-child(2n) {
    margin-right: 0;
  }

  /* ------------------------C U S T O M E R S------------- */
  .customers-section > .container {
    max-width: 582px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    margin-right: 24px;
  }

  .customers-item:nth-child(2n) {
    margin-right: 24px;
  }

  .customers-item:nth-child(3n) {
    margin-right: 0;
  }

  .customers-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  /* -------------FOOTER---------------- */
  .footer-section > .container {
    max-width: 526px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }
  .first-footer-container {
    width: 264px;
    margin-bottom: 72px;
    margin-right: 24px;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .footer-input {
    width: 264px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  /* --------M O D A L --- W I N D O W------- */
  .modal {
    max-width: 408px;
  }
}
